@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    color: #ebeceb;
}

html, body {
    height: 100vh;
    background-color: #181c20;
    margin: 0;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

p { margin: 3pt; font-size: 20pt; }
.flexbox {
    align-items: center;
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
}
.container {    flex-direction: column; height: 95vh;   }
.infowrapper {  flex-direction: row wrap;   }
.quotebox { font-weight: 200;   text-align: center; max-width: 50vw; font-size: 15pt; font-family: 'Roboto Mono', monospace;}

.header {
    text-align: center;
    font-size: 28pt;
}

.footer p{
    padding-left: 1vh;
    font-weight: 200;
    font-size: 15pt;
}

.heightbox {
    height: 30vh;
}

.infoitem {
    text-align: center;
    padding-left: 2pt;
    padding-right: 2pt;
    font-weight: 300;
    font-size: 20pt;
    max-width: 50vw;
}


.typewriter h1{
  margin: 0;
  padding-right: 4pt;
  padding-left: 4pt;
  border-right: .14em solid; /* The typwriter cursor */
  animation:
    blink-caret .65s step-end infinite;
}

.contact {
    text-align: left;
}

.sites {
  width: 100%;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.status {
  text-align: right;
  vertical-align: middle;
  font-size: 12pt;
}

@media all and (max-width: 700px) { .infowrapper { flex-direction: column wrap; } .quotebox { max-width: 80vw; } .infoitem { max-width: 90vw; }}
/* The typing effect */
@keyframes typing { from { width: 0 }   to { width: 90% }   }
/* The typewriter cursor effect */
@keyframes blink-caret {    from, to { border-color: transparent }  50% { border-color: #477480; }  }
