<!doctype html>
<html lang="en">
{{template "headHTML" .}}
<body>
<div class="flexbox container">
  {{template "header" .}}
  <div class="flexbox infowrapper">
    <div class="infoitem">
          <p>oxide.one is the personal project of <a href="https://okami.dev">Eve Rogers.</a><br>It's main purpose is for it's creator to learn about hosting services within kubernetes.</p>
    </div>
  </div>
  <div class="infoitem"><p><a href="/">home</a></p></div>
  <div class="heightbox"></div>
</div>
{{template "footHTML"}}
<script src="/js/text.js"></script>
</body>
</html>
