<!doctype html>
<html lang="en">
{{template "headHTML" .}}
<body>
<div class="flexbox container">
  {{template "header" .}}
  <div class="flexbox infowrapper">
    <div class="infoitem contact">
      <p><strong>email (base 64):</strong> ZXZlQGRvdWJsZWRhc2gub3JnCg==</p>
      <p><strong>github:</strong> okamidash</p>
    </div>
  </div>
  <div class="infoitem"><p><a href="/">home</a></p></div>
  <div class="heightbox"></div>
</div>
{{template "footHTML"}}
<script src="/js/text.js"></script>
</body>
</html>
