{{define "headHTML"}}
<head>
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Main CSS -->
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
</head>
{{end}}

{{define "header"}}
<header class="header typewriter">
   <h1 id="headertext">{{ .headerText }}</h1>
</header>
{{end}}
