<!doctype html>
<html lang="en">
{{template "headHTML"}}
<body>
<div class="flexbox container">
  {{template "header" .}}
  <div class="flexbox infowrapper">
    <div class="infoitem">
      <p>I care about privacy.</p>
      <p>No analytics are enabled, and the only information I keep are logs. (IP, user-agent)</p>
    </div>
  </div>
  <div class="infoitem"><p><a href="/">home</a></p></div>
  <div class="heightbox"></div>
</div>
{{template "footHTML"}}
<script src="/js/text.js"></script>
</body>
</html>
