<!doctype html>
<html lang="en">
{{template "headHTML" .}}
<body>

<div class="flexbox container">
  {{template "header" .}}
  <div class="flexbox infowrapper" style="text-align: left">
    <div class="infoitem" style="text-align: left">
    <p>Below are a list of my sites with their status.<br></p>
    <table class="sites">
    {{range .status }}
    <tr>
    <th class="sites">
      <a href="{{ .Link }}" title="{{ .StatusName}}" style="text-decoration: none">{{ .Name }}</a>
    </th>
    {{if eq .StatusName "Operational"}}<th class="status" style="color: #539440">{{end}}
    {{if eq .StatusName "Partial Outage"}}<th class="status" style="color: #f0c674">{{end}}
    {{if eq .StatusName "Major Outage"}}<th class="status" style="color: #cc6666">{{end}}
    {{if eq .StatusName "Unknown"}}<th class="status" style="color: #81a2be">{{end}}
    {{if eq .StatusName "Performance Issues"}}<th class="status" style="color: #b294bb">{{end}}
    {{ .StatusName}}
    </th>
    </tr>
    {{end}}
  </table>
    </div>
  </div>
  <div class="infoitem"><p><a href="/">home</a></p></div>
  <div class="heightbox"></div>
</div>
{{template "footHTML"}}
<script src="/js/text.js"></script>
</body>
</html>
