<!doctype html>
<html lang="en">
{{template "headHTML" .}}
<body>

<div class="flexbox container">
  {{template "header" .}}
  <div class="flexbox infowrapper" style="text-align: left">
    <div class="infoitem" style="text-align: left">
    <p>Below are a list of my sites with their status.<br>
    </p>
    {{range .status }}
    <p>
    {{if eq .StatusName "Operational"}}
    <i data-feather="arrow-up" stroke="#539440"></i>
    {{end}}
    {{if eq .StatusName "Partial Outage"}}
    <i data-feather="arrow-down" stroke="#f0c674"></i>
    {{end}}
    {{if eq .StatusName "Major Outage"}}
    <i data-feather="arrow-down" stroke="#cc6666"></i>
    {{end}}
    {{if eq .StatusName "Unknown"}}
    <i data-feather="help-circle" stroke="#81a2be"></i>
    {{end}}
    {{if eq .StatusName "Performance Issues"}}
    <i data-feather="activity" stroke="#b294bb"></i>
    {{end}}
    <a href="{{ .Link }}" title="{{ .StatusName}}">{{ .Name }}</a>
    </p>
    {{end}}
    </div>
  </div>
  <div class="infoitem"><p><a href="/">home</a></p></div>
  <div class="heightbox"></div>
</div>
{{template "footHTML"}}
<script src="/js/text.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace()
</script>
</body>
</html>
